global
  user haproxy
  group haproxy

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend api
  bind :5000
  default_backend registries

backend registries
  server node1 node1:5000 check
  server node2 node2:5000 check
  server node3 node3:5000 check
